<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Gestion_des_absences</display-name>
  <display-name>Gestion des absences</display-name>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.sdz.servlets.ConnexionProfs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/Profs/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profil</servlet-name>
    <servlet-class>com.sdz.servlets.ProfilProfs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profil</servlet-name>
    <url-pattern>/Profs/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.sdz.servlets.DeconnexionProfs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/Profs/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>groupes</servlet-name>
    <servlet-class>com.sdz.servlets.GroupesProfs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>groupes</servlet-name>
    <url-pattern>/Profs/groupes</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ConnexionAdmin</servlet-name>
    <servlet-class>com.sdz.servlets.ConnexionAdmin</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ConnexionAdmin</servlet-name>
    <url-pattern>/Admin/ConnexionAdmin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeconnexionAdmin</servlet-name>
    <servlet-class>com.sdz.servlets.DeconnexionAdmin</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DeconnexionAdmin</servlet-name>
    <url-pattern>/Admin/deconnexionAdmin</url-pattern>
  </servlet-mapping>
  
 <servlet>
  	<servlet-name>ProfilAdmin</servlet-name>
    <servlet-class>com.sdz.servlets.ProfilAdmin</servlet-class>
 </servlet>
  
  <servlet-mapping>
    <servlet-name>ProfilAdmin</servlet-name>
    <url-pattern>/Admin/profilAdmin</url-pattern>
  </servlet-mapping>
</web-app>