<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Gestion des absences</display-name>
  												<!-- Partie Professeur -->
  	<!-- Connexion -->
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>com.sdz.servlets.ConnexionProfs</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/Profs/connexion</url-pattern>
	</servlet-mapping> 
	 
	<!-- Profil -->
	<servlet>
		<servlet-name>Profil</servlet-name>
		<servlet-class>com.sdz.servlets.ProfilProfs</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Profil</servlet-name>
		<url-pattern>/Profs/profil</url-pattern>
	</servlet-mapping> 	
	
	<!-- Deconnexion -->
	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>com.sdz.servlets.DeconnexionProfs</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/Profs/deconnexion</url-pattern>
	</servlet-mapping> 		
	
	<!-- Groupes -->
	<servlet>
		<servlet-name>groupes</servlet-name>
		<servlet-class>com.sdz.servlets.GroupesProfs</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>groupes</servlet-name>
		<url-pattern>/Profs/groupes</url-pattern>
	</servlet-mapping> 		
	
	<!-- Seances -->
	<servlet>
		<servlet-name>seances</servlet-name>
		<servlet-class>com.sdz.servlets.SeancesProfs</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>seances</servlet-name>
		<url-pattern>/Profs/seances</url-pattern>
	</servlet-mapping> 	
</web-app>